*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	/*font-family: 'Grechen Fuemen', cursive;*/
	font-family: 'Poppins', sans-serif;
}

#thisNav{
	color: pink;
	font-size: 14px;
	letter-spacing: 0.5px;
	background-color: #1e1e24;
	/*background-color: rgb(19, 19, 32);*/
	height: auto;
	box-shadow: 4px 1px 10px black;
	/*font-family: 'Poppins', sans-serif;*/
}


#navbrand{
	font-family: 'Bree Serif', serif;
	letter-spacing: 2px;
}


#bg-home{
	background-image: url('./images2/bg-home.jpg');
	background-size: cover;
	background-position: top;
	/*background-position: 50% 19%;*/
	/*background-color: gray;*/
	height: 100vh;
}

.home-brand{
	margin-top: 20%;
}

.home-brand h1, .home-brand h3{
	font-family: 'Bree Serif', serif;
	letter-spacing: 2px;
	margin: 0;
	/*position: absolute;*/
}

/*.home-brand h1{
	border-bottom: double;
	border-width: 10px;
	margin:  0px 20%;
}*/

.home-brand .road{
	height: 33px;
	width: 35px;
	margin-top: 0%;
	opacity: 95%;
	/*display: block;*/

}

.home-brand .arrows{
	height: 100px;
	width: 100px;
	/*justify-content: center;*/
	/*align-content: center;*/
	/*display: block;*/
	align-self: center;
	margin-top: -10%;
}
.loginForm .inputForm{
	width: 100%;
	border-radius: 0px;
	font-size: 14px;
}

.loginForm Button{
	font-size: 14px;
}

.loginForm{
	font-size: 14px;
	padding-top: 34px;
	width: 50%;
}

.loginFormSmall{
	margin-top: 20%;
	background-color: white;
	width: 90%;
	font-size: 14px;
	padding: 10px;
	opacity: .9;
}

/*.product{
	margin-top: 5%;
}*/

.adminpage-title{
	margin-top: 8%;
}

.product .editBtn{
	/*width: 20%;*/
	/*border-radius: 50%;*/
	/*box-shadow: 2px 2px 5px gray;;*/
}

.product .editBtn:hover{
	/*width: 20%;*/
	/*box-shadow: 2px 2px 5px gray;;*/
	background-color: gray;
	border-color: gray;
	color: steelblue;
}

.editBtn img{
	width: 16px;
	height: 16px;
}

.archiveBtn, .unarchiveBtn{
	width: 40%;
	height: 40px;
	/*font-size: 8px;*/
}

.addProd .add-button{
	font-size: 12px;
}

.product Button{
	font-size: 12px;
}

.product .cardTitle{
	font-weight: bold;
	width: 82%;
}

/*.product .pizzaCard{
	overflow: hidden;
}*/

.product .cardText{
	font-size: 14px;
}

.pizzaPic{
	height: 200px;
	overflow: hidden;
}
.product img{
	transition: transform .2s;
	height: 100%;
}

.product img:hover{
	transform: scale(1.3);
}

.pizzas{
	height: 70vh;
}

.pizzas img{
	height: 100%;
	width: 100%;
}

.history, .contact{
	padding: 5%;
}

/*#navbrand{
	color: green;
}*/
@media (min-width: 576px){
	
	
}

@media (min-width: 768px){

	
}

@media (min-width: 992px){

	#thisNav {
		height: 65px;
	}
}